#card {
  position: relative;
  margin: auto;
  margin-top: 60px;
 
  width: 810px;
  height: 640px;
  background-color: #fff;
  box-shadow: 0px 50px 90px 0px rgba(32,37,58,0.50);
}

/* ~~~~~~~~~~~~~~~ USER PROFILE > INNER ~~~~~~~~~~~~~~*/
#image{
  width: 46%;
    /* border: 3px solid grey; */
    height: 193px;
    border-radius: 168px;
    /* align-items: center; */
    margin-left: 110px;
    margin-bottom: 20px;
    margin-top: 20px;
}
div.left, div.right {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

/* ~~~~~~~~~~~~~~~ USER PROFILE > INNER => LEFT ~~~~~~~~~~~~~~*/

div.left {
  height: 100%;
}



div.left svg {
  position: absolute;
}

div.left .clip {
  -webkit-clip-path: polygon(0px 430px,405px 570px,405px 0px,0px 0px);
          clip-path: url("#clipPolygon");
}

.chat {
  position: absolute;
  bottom: 75px;
  left: 20px;	
  color: #465367;
  font-size: 30px;
  text-decoration: none;
  transition: all 200ms ease-in-out 40ms;
}

.chat:hover {
  transform: scale(1.1);
  color: #4592FF;
}

/* ~~~~~~~~~~~~~~~ USER PROFILE > INNER => RIGHT ~~~~~~~~~~~~~~*/

div.right {
  padding: 40px;
} 

div.right h1 {
  text-transform: uppercase;
  font-size: 42px;
  color: #465367;
  margin-bottom: 30px;
}

div.right p {
  color: #808BA8;
}

nav.social {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

nav.social .button{
  text-transform: uppercase;
  color: #808BA8;
  background-color: #4A5269;
  line-height: 45px;
  margin-top: -33px;
    /* margin-left: 0px; */
    width: 100%;
}

nav.social a {
  position: absolute;
  width: 25%;
  height: 20px;
  color: #fff;
  font-size: 30px;
  line-height: 90px;
  text-decoration: none;
  transition: all 200ms ease-in-out 40ms;
  transform-origin: bottom;
}

nav.social span {
  opacity: 0;
  height: 0;
  transition: all 200ms ease-in-out 30ms;
}

nav.social a:hover > span {
  transition-delay: 200ms;
  opacity: 1;
  height: initial;
}

nav.social a:hover {
  height: 90px;
}

nav.social a:nth-child(2) {
  background-color: #1DA1F2;
  left: 0;
}

nav.social a:nth-child(3) {
  background-color: #45619D;
  left: 25%;
}

nav.social a:nth-child(4) {
  background-color: #EA4C89;
  left: 50%;
}

nav.social a:nth-child(5) {
  background-color: #004879;
  left: 75%;
}
