.screen{
    width: 100%;
    /* margin-left: -33px; */
    position: absolute;
    left: -81px;
    top: 57px;
 
    
}
/* .phongghe:{
    position: absolute;
    left: -140px;
    top: 140px;
} */

.ghe{
    width:35%;
    height:35px;
    border-radius: 5px;
    cursor: poniter;
    margin:15px;
    background-color:rbg(123,122,122);
    color:#fff;
}

.ghedadat{
    background-color:rgb(232,76,76);
    cursor: no-drop;
}

.ghedangdat{
    background-color:rgb(18,176,18) !important;
}

.gheVip{
    background-color:rgb(228,74,8);
}